{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/masters/admin_dashboard.css' %}">
{% endblock %}

{% block content %}

    <div class="admin-dashboard">
        <div class="dashboard-header">
            <h1>Dashboard</h1>
            <p>Welcome to Dashboard</p>
        </div>

        <div class="dashboard-cards">
            <div class="card">
                <h3>Total Users</h3>
                <p>0</p>
            </div>

            <div class="card">
                <h3>Total Roles</h3>
                <p>0</p>
            </div>

            <div class="card">
                <h3>System Logs</h3>
                <p>0</p>
            </div>
        </div>
    </div>

{% endblock %}